
@{
    ViewBag.Title = "I";
}

@using IlacSitesi.Models
@model MonoklonalAntikors



<br />
<br />
<br />
<br />
<div class="col-lg-12 ">
    @using (Html.BeginForm("IlacDuzenle", "Home", new { id = Model.ma_id }, FormMethod.Post))
    {
        @Html.Label("ICD-10 Code", new { @class = "form-label" , @style = "color: #ffc107" })
        @Html.TextBoxFor(x => x.icd10_code, new { @class = "form-control col-md-4" })
        <br />
        @Html.Label("DDose", new { @class = "form-label", @style = "color: #ffc107" })
        @Html.TextBoxFor(x => x.dose, new { @class = "form-control col-md-4 " })
        @Html.ValidationMessageFor(x => x.dose)
        <br />
        @Html.Label("DDD", new { @class = "form-label", @style = "color: #ffc107" })
        @Html.TextBoxFor(x => x.defined_daily_dose, new { @class = "form-control col-md-4" })
        @Html.ValidationMessageFor(x => x.defined_daily_dose)
        <br />
        @Html.Label("Producer Name", new { @class = "form-label", @style = "color: #ffc107" })
        @Html.TextBoxFor(x => x.Producer.producer_name, new { @class = "form-control col-md-4" })
        @Html.ValidationMessageFor(x => x.Producer.producer_name)
        <br />
        @Html.Label("Indications", new { @class = "form-label", @style = "color: #ffc107" })
        @Html.TextBoxFor(x => x.Indications.indications_details, new { @class = "form-control col-md-4" })
        @Html.ValidationMessageFor(x => x.Indications.indications_details)
        <br />
        <button class="btn btn-info">Save Changes</button>

    }
</div>




